section.catalog-page
	.container
		.catalog-cards
			.catalog-card
				.card_title Каталог ножей
				ul.card_list
					li.card-info_text Разделочные
					li.card-info_text Туристические
					li.card-info_text Разделочные
				.image_card
					img(src='../pud/img/catalog/1.svg').img_card
			.catalog-card
				.card_title Среднеклинковое оружие
				ul.card_list
					li.card-info_text Разделочные
					li.card-info_text Туристические
					li.card-info_text Разделочные
					.image_card
						img(src='../pud/img/catalog/2.jpg').img_card
			.catalog-card
				.card_title Длинноклинковое оружие
				ul.card_list
					li.card-info_text Разделочные
					li.card-info_text Туристические
					li.card-info_text Разделочные
				.image_card
					img(src='../pud/img/catalog/3.jpg').img_card
			.catalog-card
				.card_title Каталог ножей
				ul.card_list
					li.card-info_text Разделочные
					li.card-info_text Туристические
					li.card-info_text Разделочные
				.image_card
					img(src='../pud/img/catalog/1.svg').img_card
			.catalog-card
				.card_title Каталог ножей
				ul.card_list
					li.card-info_text Разделочные
					li.card-info_text Туристические
					li.card-info_text Разделочные
				.image_card
					img(src='../pud/img/catalog/1.svg').img_card

			.catalog-card
					.card_title Каталог ножей
					ul.card_list
						li.card-info_text Разделочные
						li.card-info_text Туристические
						li.card-info_text Разделочные
					.image_card
						img(src='../pud/img/catalog/1.svg').img_card
section.page_priducts.slider
	.container
		.product-slider_header
			h2.product-slider__title Хиты продаж
			a(href='#').product-slider__more Все акции
		.product-slider_slider
			.product-slider_swiper
				.product-slider_slide
					.product-card
						a(href='').product-card__image
							img(src='../pud/img/product_card/1.jpg').product-card__img
						.product-card_body
							h4.product-card__title
								a(href='#').product-card-title__link Нож Лиса
							.product-card__info
								.info-product-card__size 95х18
								.info-product-card__materials Орех, Алюминий
							.product-card__rating
								.rating-area
									input#star-5(type="radio", name="rating" value="5")
									label.pure-checkbox(for="star-5")
									input#star-4(type="radio", name="rating" value="4")
									label.pure-checkbox(for="star-4")
									input#star-3(type="radio", name="rating" value="3")
									label.pure-checkbox(for="star-3")
									input#star-2(type="radio", name="rating" value="2")
									label.pure-checkbox(for="star-2")
									input#star-1(type="radio", name="rating" value="1")
									label.pure-checkbox(for="star-1")
								.rating-area__review 12 отзывов
							.product-card__footer
								.product-card__price 2 719 р.
								.product-card__footer_left
									a(href='#').product-card__compare
										img(src='../pud/img/product_card/k.svg').product-card_compare_img
									a(href='#').product-card__favorite
										img(src='../pud/img/product_card/like.svg').product-card_favorite_img
							button(type='button').product-card__button
								span.product-card__btn В корзину
					.product-card
						a(href='').product-card__image
							img(src='../pud/img/product_card/1.jpg').product-card__img
						.product-card_body
							h4.product-card__title
								a(href='#').product-card-title__link Нож Лиса
							.product-card__info
								.info-product-card__size 95х18
								.info-product-card__materials Орех, Алюминий
							.product-card__rating
								.rating-area
									input#star-5(type="radio", name="rating" value="5")
									label.pure-checkbox(for="star-5")
									input#star-4(type="radio", name="rating" value="4")
									label.pure-checkbox(for="star-4")
									input#star-3(type="radio", name="rating" value="3")
									label.pure-checkbox(for="star-3")
									input#star-2(type="radio", name="rating" value="2")
									label.pure-checkbox(for="star-2")
									input#star-1(type="radio", name="rating" value="1")
									label.pure-checkbox(for="star-1")
								.rating-area__review 12 отзывов
							.product-card__footer
								.product-card__price 2 719 р.
								.product-card__footer_left
									a(href='#').product-card__compare
										img(src='../pud/img/product_card/k.svg').product-card_compare_img
									a(href='#').product-card__favorite
										img(src='../pud/img/product_card/like.svg').product-card_favorite_img
							button(type='button').product-card__button
								span.product-card__btn В корзину
					.product-card
						a(href='').product-card__image
							img(src='../pud/img/product_card/1.jpg').product-card__img
						.product-card_body
							h4.product-card__title
								a(href='#').product-card-title__link Нож Лиса
							.product-card__info
								.info-product-card__size 95х18
								.info-product-card__materials Орех, Алюминий
							.product-card__rating
								.rating-area
									input#star-5(type="radio", name="rating" value="5")
									label.pure-checkbox(for="star-5")
									input#star-4(type="radio", name="rating" value="4")
									label.pure-checkbox(for="star-4")
									input#star-3(type="radio", name="rating" value="3")
									label.pure-checkbox(for="star-3")
									input#star-2(type="radio", name="rating" value="2")
									label.pure-checkbox(for="star-2")
									input#star-1(type="radio", name="rating" value="1")
									label.pure-checkbox(for="star-1")
								.rating-area__review 12 отзывов
							.product-card__footer
								.product-card__price 2 719 р.
								.product-card__footer_left
									a(href='#').product-card__compare
										img(src='../pud/img/product_card/k.svg').product-card_compare_img
									a(href='#').product-card__favorite
										img(src='../pud/img/product_card/like.svg').product-card_favorite_img
							button(type='button').product-card__button
								span.product-card__btn В корзину
					.product-card
						a(href='').product-card__image
							img(src='../pud/img/product_card/1.jpg').product-card__img
						.product-card_body
							h4.product-card__title
								a(href='#').product-card-title__link Нож Лиса
							.product-card__info
								.info-product-card__size 95х18
								.info-product-card__materials Орех, Алюминий
							.product-card__rating
								.rating-area
									input#star-5(type="radio", name="rating" value="5")
									label.pure-checkbox(for="star-5")
									input#star-4(type="radio", name="rating" value="4")
									label.pure-checkbox(for="star-4")
									input#star-3(type="radio", name="rating" value="3")
									label.pure-checkbox(for="star-3")
									input#star-2(type="radio", name="rating" value="2")
									label.pure-checkbox(for="star-2")
									input#star-1(type="radio", name="rating" value="1")
									label.pure-checkbox(for="star-1")
								.rating-area__review 12 отзывов
							.product-card__footer
								.product-card__price 2 719 р.
								.product-card__footer_left
									a(href='#').product-card__compare
										img(src='../pud/img/product_card/k.svg').product-card_compare_img
									a(href='#').product-card__favorite
										img(src='../pud/img/product_card/like.svg').product-card_favorite_img
							button(type='button').product-card__button
								span.product-card__btn В корзину
					.product-card
						a(href='').product-card__image
							img(src='../pud/img/product_card/1.jpg').product-card__img
						.product-card_body
							h4.product-card__title
								a(href='#').product-card-title__link Нож Лиса
							.product-card__info
								.info-product-card__size 95х18
								.info-product-card__materials Орех, Алюминий
							.product-card__rating
								.rating-area
									input#star-5(type="radio", name="rating" value="5")
									label.pure-checkbox(for="star-5")
									input#star-4(type="radio", name="rating" value="4")
									label.pure-checkbox(for="star-4")
									input#star-3(type="radio", name="rating" value="3")
									label.pure-checkbox(for="star-3")
									input#star-2(type="radio", name="rating" value="2")
									label.pure-checkbox(for="star-2")
									input#star-1(type="radio", name="rating" value="1")
									label.pure-checkbox(for="star-1")
								.rating-area__review 12 отзывов
							.product-card__footer
								.product-card__price 2 719 р.
								.product-card__footer_left
									a(href='#').product-card__compare
										img(src='../pud/img/product_card/k.svg').product-card_compare_img
									a(href='#').product-card__favorite
										img(src='../pud/img/product_card/like.svg').product-card_favorite_img
							button(type='button').product-card__button
								span.product-card__btn В корзину
					.product-card
						a(href='').product-card__image
							img(src='../pud/img/product_card/1.jpg').product-card__img
						.product-card_body
							h4.product-card__title
								a(href='#').product-card-title__link Нож Лиса
							.product-card__info
								.info-product-card__size 95х18
								.info-product-card__materials Орех, Алюминий
							.product-card__rating
								.rating-area
									input#star-5(type="radio", name="rating" value="5")
									label.pure-checkbox(for="star-5")
									input#star-4(type="radio", name="rating" value="4")
									label.pure-checkbox(for="star-4")
									input#star-3(type="radio", name="rating" value="3")
									label.pure-checkbox(for="star-3")
									input#star-2(type="radio", name="rating" value="2")
									label.pure-checkbox(for="star-2")
									input#star-1(type="radio", name="rating" value="1")
									label.pure-checkbox(for="star-1")
								.rating-area__review 12 отзывов
							.product-card__footer
								.product-card__price 2 719 р.
								.product-card__footer_left
									a(href='#').product-card__compare
										img(src='../pud/img/product_card/k.svg').product-card_compare_img
									a(href='#').product-card__favorite
										img(src='../pud/img/product_card/like.svg').product-card_favorite_img
							button(type='button').product-card__button
								span.product-card__btn В корзину
					//span.fraction-control__current 0 /
					//span.fraction-control__current_1  0





