main.page.page_home
	section.page_main_block.main_block
		.main_block.container
			.main-block__body
				.main-block__slider.swiper
					.main-block__swiper.swiper-wrapper
						.main-block__slide.swiper-wrapper
							.slide-main-block__content.swiper-slide
								h2.slide-main-block__title Интернет магазин сертифицированных
								.slide-main-block__subtitle златоустовских ножей
								.slide-main-block__text Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине
									|представлен наиболее широкий выбор Златоустовских ножей от Златоустовских
									|Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
								a(href='#').slide-main-block__btn Подробнее


					.main-block__control
						.main-block__dotts
						.main-block__dotts
						.main-block__dotts
						.main-block__dotts
						.main-block__fraction
							span.fraction-control__current 0 /
							span.fraction-control__current_1  0
				.main-block__media
					.media-main-block__image
						img(src='../pud/img/home/img_home.png ' alt='1').media-main__img
					.media-main-block__tips
						.media-main-block__tip.media-main-block__tip_1 +
						.media-main-block__tip.media-main-block__tip_2 +
						.media-main-block__tip.media-main-block__tip_3 +
			.main-block___advantage
				.advantage-main__item
					.advantage-main__icon
						img(src='../pud/img/home/1.svg' alt = '1')
					.advantage-main__text Гарантия 100% возврата денежных средств
				.advantage-main__item
					.advantage-main__icon
						img(src='../pud/img/home/2.svg' alt = '1')
					.advantage-main__text Доставка по России, Казахстану и Белоруссии
				.advantage-main__item
					.advantage-main__icon
						img(src='../pud/img/home/3.svg' alt = '1')
					.advantage-main__text Возможность оформление
									|заказа без регистрации.
				.advantage-main__item
					.advantage-main__icon
						img(src='../pud/img/home/4.svg' alt = '1')
					.advantage-main__text Скидки постоянным  покупателям.



