.header
	.header__top
		.container
			.header__top__wrap
				.menu-burger__header
					span
				nav.menu__body
					ul.menu__list
						li.menu__item
							a.menu__link(href='') О нас
						li.menu__item
							a.menu__link(href='') Оплата и доставка
						li.menu__item
							a.menu__link(href='') Новости
						li.menu__item
							a.menu__link(href='') Контакты
				img(src="../pud/img/icons/contact/tel.svg").connection-tel__icoms
				img(src='../pud/img/icons/user.svg')
				a.header__top__user(href='#') Личный кабинет
				//button.icon-menu(type='button') ff

	.header__body
		.container
			.header__wrap
				img(alt='ds' src='../pud/img/icons/logo.svg').header__logo
				.header__search
					form(action='#').search-header
						button(type='submit').search-header__button
						input(type='text', name='input__header', placeholder='Поиск').search-header__input
					.header__connection
						.header__connection_location
							a(href='#')
								img(src='../pud/img/icons/location.svg').header__connection__img
							a(href='#').connection__location Москва
						.connection_tel
							.connection-tel__wrap
								a(href='tel:88007774967').connection__phone 8-800-777-49-67
								button.connection-favorites__arrow
							button(type='button').connection__call Заказать звонок
							ul.connection-tel__list
								li
									a(href='tel:88007774967').connection__phone 8-800-777-49-66
								li
									a(href='tel:88007774967').connection__phone 8-800-777-49-65								li
									a(href='tel:88007774967').connection__phone 8-800-777-49-64
						img.connection__favorites__like(src='/../pud/img/icons/Иконка_Избранное.svg')
						.connection__favorites__backet
							span.favorites-backet__summ 0
						.connection__order
							.order__price 0р
							a.order__issue(href='#') Оформить заказ
	.header__catalog
		.container
			.catalog-header
				nav.catalog-header__menu.menu-catalog
					ul.menu-catalog__list
						li.menu-catalog__item
							a(href='#').menu-catalog__link Каталог ножей
						li.menu-catalog__item
							a(href='#').menu-catalog__link Клинковое оружие
						li.menu-catalog__item
							a(href='#').menu-catalog__link Сувенирные изделия
						li.menu-catalog__item
							a(href='#').menu-catalog__link Фонари ARMY
						li.menu-catalog__item
							a(href='#').menu-catalog__link Сопуствующие товары
					.menu-catalog__sub-menu
							.sub-menu__block
							.sub-menu-block__under
								a(href='#').sub-menu-block__category Категория ножей
								a(href='#').sub-menu-block__category Производство ножей
								a(href='#').sub-menu-block__category Ножи по маркам стали
								a(href='#').sub-menu-block__category Заточка и полировка ножей
								a(href='#').sub-menu-block__category Ножевая мастерская
							.sub-menu-block__column
								ul.sub-menu-category__list
									li.menu-category__item
										a(href='#').menu-category__link Ножи АИР
									li.menu-category__item
										a(href='#').menu-category__link Туристические ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи охотничьи
									li.menu-category__item
										a(href='#').menu-category__link Булатные ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи из дамаска
									li.menu-category__item
										a(href='#').menu-category__link Тактического назначения
									li.menu-category__item
										a(href='#').menu-category__link Метательные ножи
									li.menu-category__item
										a(href='#').menu-category__link Мачете и кукри
									li.menu-category__item
										a(href='#').menu-category__link Ножи кухонные
							.sub-menu-block__column
								ul.sub-menu-category__list
									li.menu-category__item
										a(href='#').menu-category__link Ножи АИР
									li.menu-category__item
										a(href='#').menu-category__link Туристические ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи охотничьи
									li.menu-category__item
										a(href='#').menu-category__link Булатные ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи из дамаска
									li.menu-category__item
										a(href='#').menu-category__link Тактического назначения
									li.menu-category__item
										a(href='#').menu-category__link Метательные ножи
									li.menu-category__item
										a(href='#').menu-category__link Мачете и кукри
									li.menu-category__item
										a(href='#').menu-category__link Ножи кухонные

							.sub-menu-block__column
								ul.sub-menu-category__list
									li.menu-category__item
										a(href='#').menu-category__link Ножи АИР
									li.menu-category__item
										a(href='#').menu-category__link Туристические ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи охотничьи
									li.menu-category__item
										a(href='#').menu-category__link Булатные ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи из дамаска
									li.menu-category__item
										a(href='#').menu-category__link Тактического назначения
									li.menu-category__item
										a(href='#').menu-category__link Метательные ножи
									li.menu-category__item
										a(href='#').menu-category__link Мачете и кукри
									li.menu-category__item
										a(href='#').menu-category__link Ножи кухонные

							.sub-menu-block__column
								ul.sub-menu-category__list
									li.menu-category__item
										a(href='#').menu-category__link Ножи АИР
									li.menu-category__item
										a(href='#').menu-category__link Туристические ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи охотничьи
									li.menu-category__item
										a(href='#').menu-category__link Булатные ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи из дамаска
									li.menu-category__item
										a(href='#').menu-category__link Тактического назначения
									li.menu-category__item
										a(href='#').menu-category__link Метательные ножи
									li.menu-category__item
										a(href='#').menu-category__link Мачете и кукри
									li.menu-category__item
										a(href='#').menu-category__link Ножи кухонные
							.sub-menu-block__column
								ul.sub-menu-category__list
									li.menu-category__item
										a(href='#').menu-category__link Ножи АИР
									li.menu-category__item
										a(href='#').menu-category__link Туристические ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи охотничьи
									li.menu-category__item
										a(href='#').menu-category__link Булатные ножи
									li.menu-category__item
										a(href='#').menu-category__link Ножи из дамаска
									li.menu-category__item
										a(href='#').menu-category__link Тактического назначения
									li.menu-category__item
										a(href='#').menu-category__link Метательные ножи
									li.menu-category__item
										a(href='#').menu-category__link Мачете и кукри
									li.menu-category__item
										a(href='#').menu-category__link Ножи кухонные
							.sub-menu-block__button__all
								a(href='#').menu-category__all Смотреть все
								a(href='#').menu-category__all Смотреть все
								a(href='#').menu-category__all Смотреть все
								a(href='#').menu-category__all Смотреть все
								a(href='#').menu-category__all Смотреть все






